<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- Dev/local : logs lisibles par un humain, avec l'id de requête pour corréler les lignes. -->
    <springProfile name="default | dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%X{requestId:-\-}] %logger{35} - %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <!-- Prod : JSON structuré (un objet par ligne), consommable par un stack de logs centralisé. -->
    <springProfile name="prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeMdcKeyName>requestId</includeMdcKeyName>
            </encoder>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="com.shop" level="DEBUG" />
</configuration>
