<div class="admin">
  <aside class="admin__sidebar">
    <h2>Administration</h2>
    <nav>
      <a routerLink="/admin/sales" routerLinkActive="is-active">Sales</a>
      <a routerLink="/admin/products" routerLinkActive="is-active">Products</a>
      <a routerLink="/admin/categories" routerLinkActive="is-active">Categories</a>
      <a routerLink="/admin/orders" routerLinkActive="is-active">Orders</a>
      <a routerLink="/admin/users" routerLinkActive="is-active">Users</a>
      <a routerLink="/admin/account" routerLinkActive="is-active">Account</a>
    </nav>
  </aside>

  <div class="admin__content">
    <router-outlet />
  </div>
</div>
